body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;
}



.et-hero-tabs h1,
.et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}

.et-hero-tabs h3,
.et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #f8f2f0;
    z-index: 10;
    position: fixed;
}
.et-hero-tabs-container--top {
    position: relative;
    top: 0;
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}

.et-hero-tab:hover {
    color: #f8f2f0;
    background: #c1272d;
    transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #c1272d;
    transition: left 0.3s ease;
}

.et-hero-tab.active {
    color: #f8f2f0;
    background: #c1272d;
    transition: all 0.5s ease; /* Ensure smooth transition for active state */
}

@media (min-width: 800px) {
    .et-hero-tabs h1,
    .et-slide h1 {
        font-size: 3rem;
    }

    .et-hero-tabs h3,
    .et-slide h3 {
        font-size: 1rem;
    }

    .et-hero-tab {
        font-size: 1rem;
    }
}



/* Full container for centering */
.slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
    position: relative;
}

/* White card-like container */
.slider-card {
    width: 300%;
    max-width: 900px;
    height: 500px;
    background: #fff;
    border-radius: 70px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: flex-end; /* Align text at the bottom */
    justify-content: center;
    padding: 100px;
    text-align: center;
    position: relative;
}

/* Text styling */
.slider-content {
    max-width: 80%;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.highlight {
    color: #aaa;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #666;
}

/* Dots pagination */
.slider-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #aaa;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: #333;
}
